* {
  padding: 0;
}
:root {
  --primary-text-color: #636b76;
  --title-text-color: #42c186;
  --hover-text-color: #f1f1f1;
  --accent-text-color: #ffffff;
  --date-text: #616969;
  --side-bar: #f3e0dc;
  --side-bar-text: #34485e;
  --name-bgc: #929292;
}
h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  /* text-decoration: none; */
  font-style: normal;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #f5f7fa;
  color: var(--side-bar-text);
  /* padding: 10px 20px; */
  margin: 0;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0px auto;
  align-items: flex-start;
  background: var(--accent-text-color);
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--side-bar);
  width: 370px;
  /* height: 1764px; */
  padding-top: 40px;
  padding-bottom: 100px;

  margin-top: 60px;
  margin-left: 40px;

  z-index: 10;
}
.my-photo {
  max-width: 250px;
}
.education {
  margin-bottom: 20px;

  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
}
.education-block {
  margin-top: 40px;
  margin-bottom: 40px;
}
.about-me {
  margin-top: 160px;
  padding: 30px 90px 0px 90px;
  width: 60%;
}
.my-name {
  width: 1200px;
  position: absolute;
  background-color: var(--name-bgc);
  color: #fff;
  text-align: right;
  text-transform: uppercase;
  padding: 60px 200px 30px 30px;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.97;
  letter-spacing: 3px;
}

.site {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.site-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-bottom: 20px;
}

.site-item-text {
  margin-left: 20px;
  margin-bottom: 20px;
}

.site-text {
  color: var(--side-bar-text);
  width: 150px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.site-text:visited {
  color: var(--side-bar-text);
}
.profession {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 1px;
}
.date {
  color: var(--primary-text-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 1px;
  /* order: 3; */
}

.work-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.company {
  display: block;
  padding: 5px;

  font-weight: 700;
  font-size: 18px;
  background-color: var(--hover-text-color);
}
.simbol {
  color: black;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
}
.projects {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;

  background-color: var(--hover-text-color);
}

.position {
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.work-story {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;

  min-width: 413px;
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 25px;
}

.work-story li:not(:last-child) {
  margin-bottom: 10px;
}

.description {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  text-indent: 20px;
  margin-bottom: 40px;
  margin-top: 20px;
}
.contact-container {
  margin-top: 40px;
  margin-bottom: 40px;
}

/* .contact-title {
  
  font-size: 22px;
  font-weight: 700;
  line-height: 1.09;
} */

.contact-link {
  max-width: 240px;
  color: var(--primary-text-color);
  line-height: 1.7;
  font-size: 15px;
  font-weight: 400;
  margin-left: 10px;
}
/* .cont {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.71;
  color: var(--accent-text-color);
  margin-right: 10px;
} */

.cont-item {
  display: flex;
  align-items: center;
}

.cont-item:not(:last-child) {
  margin-bottom: 10px;
}

.cont__icon {
  fill: var(--side-bar-text);
  height: 36px;
  width: 36px;
}
.tech-skill {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.09;
  text-align: center;

  margin-bottom: 20px;
}
.tech-skills {
  margin-top: 40px;
  margin-bottom: 40px;
}
/* .tech-skills li {
  list-style-type: none;
} */
/* .tech-skills li:before {
  content: "\2a20";
  display: inline-block;
  text-indent: -20px;
} */
/* .soft-skills li {
  list-style-type: none;
} */
/* .soft-skills li:before {
  content: "\2a20";
  display: inline-block;
  text-indent: -20px;
} */
.skill-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.71;
}

.soft-skill {
  margin-bottom: 20px;

  font-size: 22px;
  font-weight: 700;
  line-height: 1.09;
  text-align: center;
}
.soft-skills {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
}

.hoobies-block {
  margin-top: 40px;
}

.hr_line {
  width: 90%;
  margin-bottom: 40px;
}
